.card-center {
        margin: inherit auto 0;
        float: none;
}

body {
        margin: 0;
        padding: 0;
        max-width: 800px;
}

html {
        background-color: #0275D8;
}

.row {
        margin-left: 0px;
        margin-right: 0px;
}
